<script src="assets/libs/@anyline/anyline-js/anyline.js"></script>

<div id="root" style="height:100%"></div>


<div class="toolbar">
  <button (click)="remountAnylineJS()">remount</button>
  <button (click)="refocus()">refocus (chrome android)</button>
  <button (click)="enableFlash()">flash on (chrome android)</button>
  <button (click)="disableFlash()">flash off</button>
  <button (click)="mirrorCamera()">mirror camera</button>
</div>



<select class="preset-select" (change)="mountAnylineJS(selectedPreset)">
  <option value="" selected>Select Use-Case</option>
  <option value="barcode">Barcode</option>
  <option value="id">MRZ</option>
  <option value="vin">VIN</option>
  <option value="card_detect">Card Detect</option>
  <option value="container">Container</option>
  <option value="containerVertical">Container Vertical</option>
  <option value="drivingLicense">Austrian DL</option>
  <option value="germanid">German ID Front</option>
  <option value="meter">Meter</option>
  <option value="ehic">EHIC (IT and AT)</option>
  <option value="lpt">License Plate</option>
  <option value="ocr">Serial Number</option>
</select>


